.notice-box {
    text-align: center;
    background-color: aqua;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.important-notice {
    font-size: 18px;
    font-weight: bold;
    color: red;
}

.text-danger {
    font-weight: bold;
}

footer {
    background-color: rgb(35, 163, 35);;
    font-weight: bold;
    padding: 1rem;
    text-align: center;
}